<div class="row">
  <div class="col-md-6 mx-auto">
    <h1 class="mb-4">Registration</h1>
    <form action="/register_user" method="POST">
      <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="emailAddress" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordMain" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="passwordMain" name="passwordMain" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordRepeat" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat"
            placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 mx-auto">
    <h1 class="mb-4">Login</h1>
    <form action="/login" method="POST">
      <div class="form-group row">
        <label for="emailAddressLogin" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="emailAddressLogin" name="emailAddress" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordMainLogin" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="passwordMainLogin" name="passwordMain" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </form>
  </div>